/*common start*/
* {
	}
/*common end*/
/*header start*/
header{}
.containar {
	margin: 0 auto;
	width:84%;
	/*border: 1px solid black;*/
	overflow: hidden;
	display: inline-block;
} 

.logo {
	width: 16%;
	/*border: 1px solid;*/
	float: left;
}
div.logo a{
	display: block;
}
div.logo a img{
	    width: 100%;
}

.menu {
	margin-top: 2px;
	width: 75%;
	float: right;

}
nav.menu ul{
	    float: right;
}
nav.menu ul li{
	float: left;
	list-style: none;
}

nav.menu ul li a{
	font-family: sans-serif;
	display: block;
	text-decoration: none;
	padding: 0 16px;
}


nav.menu ul li a:hover{
	color: #BD2241;
}
nav.menu ul li:last-child a{
	padding-right: 0;
}
/*header end*/
div.h1{
	text-align: center;
	font-size: 12px;
	color: blue;
	border: 2px solid violet;
	display: inline-block;
}
div.h1:hover{
	background-color: deeppink;
}
/*section start*/
section.another ul{
	text-align: center;
}
section.another ul li{
	display: inline-block;
}
section.another ul li a{
	display: inline-block;
	    padding: 12px 76px;
	color: black;
	background-color: green;
	border: 2px solid blue;
	text-decoration: none;

}
section.another ul li a:hover{
	background: pink;
	transition: .2s;
}
/*section end*/

/*div start*/
div.logo1{
	background-color: blue;
	text-align: center;
}
/*div  end*/
/*nth start*/
div.nth {
	width: 100%;
	height: 650px;
	background-color: pink;
	overflow: hidden;
}
div.nth span {
	font-family: sans-serif;
	display: inherit;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    color: brown;
}
/*nth child*/
div.child {
	overflow: hidden;
}
div.child ul{
	/*font-size: 20px;*/
	text-align: center;
}
div.child ul li{
	list-style: none;
}
div.child ul:first-child li{
	color: indigo;
	font-size: 25px;
}
div.child ul li:nth-child(3){
	color: green;
	font-size: 25px;
}
div.child ul li:nth-child(5){
	color: red;
	font-size: 25px;
}
div.child ul li:nth-child(7){
	color: black;
	font-size: 25px;
}
div.child ul li:nth-child(9){
	color: deeppink;
	font-size: 25px;
}
div.child ul li:nth-child(11){
	color: skyblue;
	font-size: 25px;
}
div.child ul li:nth-child(13){
	color: chocolate;
	font-size: 25px;
}
div.child ul li:nth-child(15){
	color: darkgray;
	font-size: 25px;
}
div.child ul li:nth-child(17){
	color: darkolivegreen;
	font-size: 25px;
}
div.child ul li:nth-child(19){
	color: crimson;
	font-size: 25px;
}
/*nth end*/
/*img*/
div.box{
	width: 800px;
	height: 500px;
	padding: 30px;
	margin: 30px auto;
	background-size: cover;
	text-align: center;
	background-image: url(../background/learn.png);

}
.h2{
	color: deeppink;
	font-size: 25px;
	float: left;

}
.h3{
	color: green;
	font-size: 25px;
	float: left;

}